<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="filename" type="xstring" value="/home/vagrant/Downloads/out.sdf"/>
<entry key="titleColumn" type="xstring" value="$RowID$"/>
<entry key="structureColumn" type="xstring" value="sdf"/>
<entry key="overwriteOK" type="xboolean" value="true"/>
<config key="column-filter">
<entry key="filter-type" type="xstring" value="STANDARD"/>
<config key="included_names">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="docking"/>
</config>
<config key="excluded_names">
<entry key="array-size" type="xint" value="21"/>
<entry key="0" type="xstring" value="chemblId"/>
<entry key="1" type="xstring" value="preferredCompoundName"/>
<entry key="2" type="xstring" value="synonyms"/>
<entry key="3" type="xstring" value="knownDrug"/>
<entry key="4" type="xstring" value="medChemFriendly"/>
<entry key="5" type="xstring" value="passesRuleOfThree"/>
<entry key="6" type="xstring" value="molecularFormula"/>
<entry key="7" type="xstring" value="stdInChiKey"/>
<entry key="8" type="xstring" value="species"/>
<entry key="9" type="xstring" value="numRo5Violations"/>
<entry key="10" type="xstring" value="rotatableBonds"/>
<entry key="11" type="xstring" value="molecularWeight"/>
<entry key="12" type="xstring" value="alogp"/>
<entry key="13" type="xstring" value="acdAcidicPka"/>
<entry key="14" type="xstring" value="acdBasicPka"/>
<entry key="15" type="xstring" value="acdLogp"/>
<entry key="16" type="xstring" value="acdLogd"/>
<entry key="17" type="xstring" value="Lipinski's Rule of Five"/>
<entry key="18" type="xstring" value="smi prot"/>
<entry key="19" type="xstring" value="Converged"/>
<entry key="20" type="xstring" value="Energy"/>
</config>
<entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
<config key="name_pattern">
<entry key="pattern" type="xstring" value=""/>
<entry key="type" type="xstring" value="Wildcard"/>
<entry key="caseSensitive" type="xboolean" value="true"/>
</config>
<config key="datatype">
<config key="typelist">
<entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
<entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
<entry key="org.rdkit.knime.types.RDKitMolValue" type="xboolean" value="false"/>
<entry key="org.knime.chem.types.SmilesValue" type="xboolean" value="false"/>
<entry key="org.knime.chem.types.SdfValue" type="xboolean" value="false"/>
</config>
</config>
</config>
<entry key="skipProblematicItems" type="xboolean" value="false"/>
<entry key="omitMissingValues" type="xboolean" value="false"/>
<entry key="addEmptyStructures" type="xboolean" value="false"/>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="write"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="1273"/>
<entry key="y-coordinate" type="xint" value="220"/>
<entry key="width" type="xint" value="134"/>
<entry key="height" type="xint" value="19"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="0"/>
<entry key="defFontSize" type="xint" value="-1"/>
<entry key="annotation-version" type="xint" value="-1"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.chem.base.node.io.sdfwriter2.SDFWriterNodeFactory"/>
<entry key="node-name" type="xstring" value="SDF Writer"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Chemistry Base nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.chem.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="3.1.1.v201601281239"/>
<entry key="node-feature-name" type="xstring" value="KNIME Base Chemistry Types &amp; Nodes"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.chem.types.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-feature-version" type="xstring" value="3.1.1.v201601281239"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="SDF Writer"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports"/>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="324d4f56-cdc2-4eb5-ab2e-2b942ce45b0e"/>
</config>
</config>
